// Here you can can customize the breakpoints to your need
$breakpoints: (
  'xxs': 0px,
  'xs': 480px,
  's': 768px,
  'm': 992px,
  'l': 1200px
);

// Here you can customize the inner spacings and the max-width of your container
$container: (
  'padding-vertical': 0,
  'padding-horizontal': 7%,
  'max-width': 86rem
);

// Here you can customize the spacings for the rows and columns
$spacings:(
  'spacing-xs': .25rem,
  'spacing-s': .5rem,
  'spacing-m': .75rem,
  'spacing-l': .95rem
);
