// mixin
@import '../setup/_breakpoint';
@import '../setup/variables';

.row {
  margin: {
    left: - map-get($spacings, spacing-xs);
    right: - map-get($spacings, spacing-xs);
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @include breakpoint('s') {
    margin: {
      left: - map-get($spacings, spacing-s);
      right: - map-get($spacings, spacing-s);
    }
  }

  @include breakpoint('m') {
    margin: {
      left: - map-get($spacings, spacing-m);
      right: - map-get($spacings, spacing-m);
    }
  }

  @include breakpoint('l') {
    margin: {
      left: - map-get($spacings, spacing-l);
      right: - map-get($spacings, spacing-l);
    }
  }

  &--zero {
    margin-left: 0;
    margin-right: 0;

    &-xxs-only {
      @include breakpoint('xxs','xs') {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &-xs-only {
      @include breakpoint('xs','s') {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &-s-only {
      @include breakpoint('s','m') {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &-m-only {
      @include breakpoint('m','l') {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &-l-only {
      @include breakpoint('l') {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
